*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------------------------muc thanh dieu huong trang chu-------------*/
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #591414;
    display: flex;
}

.navigation li {
    flex: 1;
    text-align: center;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #555;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
            max-width: 1200px;
            margin: auto;
}
header{
    background-color: aliceblue;
    text-align: center;
}
nav{
    background-color: rgb(169, 230, 38);
}
nav ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
}
nav ul li,a{
                color: black;
                font-size: 12px;
}
nav ul li:nth-child(2) a {
    color: yellow;
}
nav ul li:nth-child(2) i {
    color: yellow;
    font-size: 15px;
    margin-left: 6px;
}
nav ul li:nth-child(3) {
    position: relative;
}
nav ul li:nth-child(3) input {
    height: 25px;
    width: 110px;
    border-radius: 5px; /*độ vuông của khung searh*/
    border: none;
    padding-left: 6px;
    outline: none;

}
nav ul li:nth-child(3) i {
    position: absolute;
    font-size: 12px;
    right: 8px; /*chiều ngang searh*/
    color: #333;
    line-height: 28px; /*độ sâu icon searh*/
    cursor: pointer;
}
nav ul li:nth-child(4) button {
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(236, 15, 26); /*color item gio hang*/
    border: 1xp solid rgb(155, 137, 137) ;
    border-radius: 5px;
    transition:all 0.5s ease;
}
nav ul li:nth-child(4) button i {
    margin-right: 6px;
}
nav ul li:nth-child(4) button:hover {
    background-color: rgb(243, 235, 235);
}
nav ul li:nth-child(5) {
    text-align: center;
}
nav ul li:nth-child(5):hover a {
    color:yellow;
}
nav ul li:nth-child(6) a {
    color:yellow;
}
.btn-content{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: yellow;
    display: block;
    float: left;
    margin-right: 6px;
}
.btn-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color:white;
    display: block;
    pointer-events: none;
    animation: btnani 1s linear infinite;
}
@keyframes btnani{
    from{
        opacity: 0.3;
    }
    to{
        transform: scale(3);
        opacity: 0.2; /* do toa anh sang icon*/
    }
}
nav ul li:nth-child(7):hover {
    color: blue;
}
nav ul li:nth-child(8):hover {
    color: blue;
}
nav ul li:nth-child(9):hover {
    color: blue;
}

/*------------------*/


.adress-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 10;
}
.adress-form-content{ /*khung form thông tin*/
    width: 395px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
}
.adress-form-content form{ 
    padding: 12px 40px;
}
.adress-form-content h2 {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.adress-form-content h2 span { /*nút đóng*/
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #490606;
    border-radius: 5px;
}
.adress-form-content form p{
    font-size: 16px;
}
.adress-form-content form input,select{
    height: 40px; /*độ to của khung thông tin*/
    display: block;
    width: 100%;
    margin-top: 10%; /*khoảng cách các khung*/
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.adress-form-content form button{ /*nút xác nhận*/
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: rgb(236, 138, 67);
    outline: none;
    border: none;
    color: #fff;
    border-radius: 6xp;
}
/*--------------slider----------*/


li{
    list-style: none;
}
.slider{
    padding: 20px 0;
    height: 350px;
}
.slider-content{
    display: flex;
    justify-content: space-between;
}
.slider-content-left{
    width: 65%;
}
.slider-content-left-top{
    width: 100%;
    height: 300px;
    position: relative;
}

.slider-content-left-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-content-left-bottom{
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
}
.slider-content-left-bottom li{
    width: 30%; /*độ rộng khung chữ dưới slider*/
    text-align: center;
    cursor: pointer;
    padding: 6px;
    height: 100%;
    line-height: 38px;
    position: relative;
    font-size: 50%;
}
.slider-content-left-bottom li::before{
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}
.slider-content-left-bottom li.active {
    border-top: 4px solid #FFF200;
}
.slider-content-right {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: space-between;
}
.slider-content-right li{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 6px;
}
.slider-content-right li img {
    height: 160px;
    width: 160px;
}
.slider-content-left-top-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-content-left-top-btn i{ /*nut chuyen doi slider*/
    color: #333;
    font-size: 50px;
    height: 50px;
    width: 25px;
    background-color: #fbf9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

/*------hieu ung chuyen slider-----*/
.slider-content-left-top img{
    position: absolute;
}
.slider-content-left-top a:nth-child(2) img {
    transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img {
    transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img {
    transform: translateX(300%);
}
.slider-content-left-top-container{
    position: relative;
    overflow: hidden;
}
.slider-content-left-top-container:hover i {
    opacity: 1;
}
.slider-content-left-top{
    transition: all 0.3s ease;
}
/*---------------------------------*/
.slider-content-left-bottom li.active{
    border-top: 4px solid #FFF200;
    font-weight: bold;
}
.slider-content-left-bottom li {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}
/*--------------------------------item-----------------------------*/
.slider-product-one-content{
    background-color: #FFF200;
    padding: 12px;

}
.slider-product-one-content-title h2{
    font-style: italic;
    padding: 12px;
}
.slider-product-one-content-items{
    display: flex;
    justify-content: space-evenly;
}
.slider-product-one-content-items:hover img{
    transform: translateY(-10px);
}
.slider-product-one-content-item{
    width: 19%;
    background-color: #fff;
    padding: 50px 12px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.slider-product-one-content-item > img {
    width: 100%;
    transition: all 0.3s ease;
}
.slider-product-one-content-item-text li{
    margin: 6px;
}
.slider-product-one-content-item-text{
    padding-top: 20px;
}
.slider-product-one-content-item-text li:last-child i {
    color: coral;
}
/*------------------------slider product 2-------------------------------------*/
.slider-product-one-content-container{
    position: relative;
    overflow: hidden;
}
.slider-product-one-content-btn{
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-product-one-content-btn i{
    color: #333;
    font-size: 50px;
    height: 50px;
    width: 35px;
    background-color: #fbf9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.slider-product-one-content-items-content{
    position: relative;
    height: 500px;
    transition: all 0.3 ease;
}
.slider-product-one-content-items{
    position: absolute;
}
.slider-product-one-content-items:nth-child(2){
    transform: translateX(100%);
}
.slider-product-one-content-items:nth-child(3){
    transform: translateX(200%);
}